server:
  port: 8383

spring:
  application:
    name: products-service
  cloud:
    config:
      import-check:
        enabled: false

  config:
    import: ${CONFIG_SERVER}
  datasource:
    url: ${PRODUCT_DB_URL}${DB_OPTIONS}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: ${SECURITY_JWT_SECRET_KEY}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER}
